{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
	<div class="main__content playlist">
		{{#with data}}
		<h1 class="title title--center">Додати до плейліста</h1>

		<ul class="track__list">
			{{#each tracks}}
			<li class="track">
				<img src="{{image}}" alt="{{name}}">
				<div class="track__content">
					<strong class="track__name">{{name}}</strong>
					<p class="track__author">{{author}}</p>
				</div>
				{{!-- <a href="/spotify-track-add?playlistId={{playlistId}}&trackId={{id}}">
					<img src="/svg/track_add.svg">
				</a> --}}


				<form action="/spotify-track-add" method="POST">
					<input type="hidden" name="playlistId" value="{{../playlistId}}">
					<input type="hidden" name="trackId" value="{{id}}">
					<button type="submit">
						<img src="/svg/track_add.svg" class="track__icon">
					</button>
				</form>

			</li>
			{{/each}}
		</ul>

		{{/with}}
	</div>
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}