{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main class="main">
	{{#with data}}
	<form method="POST" action="/purchase-change?id={{id}}" class="form-card">
		{{>heading title="Інформація про замовлення"}}

		<ul class="info">
			{{#each info}}
			<li class="info__item">
				<span>ID: {{id}}</span>

				{{>divider}}

				<div class='purchase-item__block'>
					<span class='title'>Ім'я:</span>
					<span class='text'>Олександр</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Прізвище:</span>
					<span class='text'>Семенов</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Телефон:</span>
					<span class='text'>+380951234567</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Електронна пошта:</span>
					<span class='text'>o.semenov@example.com</span>
				</div>

				{{>divider}}

				<div class='purchase-item__block'>
					<span class='title'>Назва товару:</span>
					<span class='text'>{{product.title}}</span>

					<span class='title'>Коментар:</span>
					<span class='text'>Подзвонити за 30 хв</span>
				</div>

				{{>divider}}

				<div class='purchase-item__block'>
					<span class='title'>Вартість товарів:</span>
					<span class='text'>{{productPrice}} грн</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Вартість доставки:</span>
					<span class='text'>{{deliveryPrice}} грн</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Сума до сплати:</span>
					<span class='text'>{{totalPrice}} грн</span>
				</div>
				<div class='purchase-item__block'>
					<span class='title'>Нараховані бонуси:</span>
					<span class='text'>{{bonus}} грн</span>
				</div>
			</li>
			{{/each}}
		</ul>

		{{>divider}}

		{{>field value=totalPrice name="totalPrice" disabled=true}}
		{{>field value=productPrice name="productPrice" disabled=true}}
		{{>field value=deliveryPrice name="deliveryPrice" disabled=true}}
		{{>field value=amount name="amount" disabled=true}}

		{{>button text="Змінити дані"}}

	</form>
	{{/with}}
</main>

{{!
Цей код містить лише те, що буде виводитись в

<body>
	Адже наш layout/default.hbs має вже структуру HTML
	}}